langchain>=0.3,<0.4
langchain-core>=0.3,<0.4
langchain-community>=0.3,<0.4
langchain-google-genai>=2,<3

langchain-huggingface>=0.0.2,<1.0.0
sentence-transformers>=3.0,<4.0
langchain-chroma>=0.1.2
docx2txt>=0.8,<1.0
pypdf>=3.0,<4.0
python-pptx>=0.6.21,<1.0
fastapi>=0.109,<1.0
uvicorn>=0.27,<1.0
python-multipart>=0.0.6,<1.0.0
python-dotenv>=1.0,<2.0
streamlit>=1.31,<2.0
